<?xml version="1.0"?>
<plugin id="Gnumeric_dif">
	<information name="Data Interchange Format (CSV) module" description="Reads and writes information stored in the Data Interchange Format (*.dif)"/>
	<loader type="g_module">
		<attribute name="module_file" value="dif.so"/>
	</loader>
	<services>
		<service type="file_opener" id="dif" priority="1" probe="FALSE"
		         open="TRUE" import="TRUE">
			<information description="Data Interchange Format (*.dif) file format"/>
			<file_patterns>
				<file_pattern type="shell_pattern" value="*.dif"/>
			</file_patterns>
			<save_info saver_id="dif" format_level="manual_remember"/>
		</service>
		<service type="file_saver" id="dif" file_extension="dif" format_level="manual_remember"
		 save_scope="sheet">
			<information description="Data Interchange Format (*.dif)"/>
		</service>
	</services>
</plugin>
