<?xml version="1.0"?>
<plugin id="Gnumeric_xbase">
	<information name="XBase" description="Imports XBase files"/>
	<loader type="g_module">
		<attribute name="module_file" value="xbase.so"/>
	</loader>
	<services>
		<service type="file_opener" id="xbase" priority="100" probe="FALSE">
			<information description="Xbase (*.dbf) file format"/>
			<information xml:lang="pl" description="Format pliku Xbase (*.dbf)"/>
			<file_patterns>
				<file_pattern type="shell_pattern" value="*.dbf"/>
			</file_patterns>
			<save_info saver_id="" format_level="manual_remember"/>
		</service>
	</services>
</plugin>
