Makefile.in
Makefile
.deps
.libs
import-db
*~
zzufit.tmp
zzufit.log
*.pl.log
*.pl.trs
test-suite.log
ooxml-schema
ods-schema
xmllint-extra

# We don't want to ignore spreadsheet files here.
!*.gnumeric
!*.ods
!*.xls
!*.xlsx
