ABOUT-NLS
Makefile.in
aclocal.m4
autom4te.cache
m4
configure
config.sub
config.log
config.cache
config.rpath
config.status
config.guess
ltconfig
ltmain.sh
libtool
compile
gnumeric-config.h.in
gnumeric-config.h
gnumeric-features.h
stamp-h*
Makefile
xlibtool
xltmain.sh
doltcompile
doltlibtool
depcomp
install-sh
missing
mkinstalldirs
ylwrap
org.gnumeric.gnumeric.appdata.xml
org.gnumeric.gnumeric.desktop
ID
tags
intltool-extract*
intltool-merge*
intltool-update*
intltool-modules
intl
.intltool-cache*
libspreadsheet*.pc
.dotest
*.gnumeric
*.ods
*.xls
*.xlsx
doltcompile
*~
test-driver
gtk-doc.make
*-patch
