ABOUT-NLS
Makefile.in
aclocal.m4
autom4te.cache
configure
config.sub
config.log
config.cache
config.status
config.guess
ltconfig
ltmain.sh
libtool
gnumeric-config.h.in
gnumeric-config.h
stamp-h*
Makefile
xlibtool
xltmain.sh
depcomp
install-sh
missing
mkinstalldirs
ylwrap
gnumeric.keys
gnumeric.spec
gnumeric.desktop
gnumeric.desktop.in
ID
tags
intltool-extract*
intltool-merge*
intltool-update*
intltool-modules
intl
GNOME_Gnumeric.server.in
GNOME_Gnumeric.server
.intltool-cache*
xmldocs.make
omf.make
libspreadsheet.pc
libspreadsheet-1.10.pc
.dotest
*.gnumeric
*.ods
*.xls
*.xlsx
