<?xml version="1.0"?>
<plugin id="Gnumeric_PyFunc">
	<information name="Python functions" description="Sample Python plugin providing some (useless) functions."/>
	<loader type="python">
		<attribute name="module_name" value="py_func"/>
	</loader>
	<services>
		<service type="file_opener" id="pot" priority="1" probe="FALSE">
			<information description="PO/POT files import"/>
			<file_patterns>
				<file_pattern type="shell_pattern" value="*.po"/>
				<file_pattern type="shell_pattern" value="*.pot"/>
			</file_patterns>
			<save_info saver_id="" format_level="manual_remember"/>
		</service>
		<service type="function_group" id="test">
			<category name="Python"/>
			<functions>
				<function name="py_printf"/>
				<function name="py_capwords"/>
			</functions>
		</service>
	</services>
</plugin>
