<?xml version="1.0"?>
<plugin id="Gnumeric_sc">
	<information name="SC/XSpread" description="Imports SC/XSpread files"/>
	<loader type="g_module">
		<attribute name="module_file" value="sc.so"/>
	</loader>
	<services>
		<service type="file_opener" id="sc" priority="1" probe="FALSE"
		         open="FALSE" import="TRUE">
			<information description="SC/xspread file import"/>
			<save_info saver_id="" format_level="manual"/>
		</service>
	</services>
</plugin>
