<?xml version="1.0"?>
<plugin id="Gnumeric_guile">
	<information name="Guile Plugin" description="This plugin enables Guile(scheme) support in Gnumeric"/>
	<loader type="g_module">
		<attribute name="module_file" value="guile.so"/>
	</loader>
	<services>
		<service type="general"></service>
	</services>
</plugin>
