<?xml version="1.0"?>
<plugin id="Gnumeric_xml_sax">
	<information name="EXPERIMENTAL SAX based XML" description="The next generation sax based xml I/O subsystem"/>
	<loader type="g_module">
		<attribute name="module_file" value="xml_sax.so"/>
	</loader>
	<services>
		<service type="file_opener" id="xml_sax" priority="1" probe="FALSE">
			<information description="EXPERIMENTAL Gnumeric (*.gnumeric) SAX based XML file format"/>
			<save_info saver_id="" format_level="manual_remember"/>
		</service>
	</services>
</plugin>
