Source: gnumeric
Section: math
Priority: optional
Maintainer: J.H.M. Dassen (Ray) <jdassen@debian.org>
Build-Depends: debhelper (>= 5.0.37.2), python-central (>= 0.5), dh-buildinfo,
 po-debconf, gettext, bison, flex, scrollkeeper, libxml-parser-perl,
 zlib1g-dev, libglib2.0-dev (>= 2.6.0), libgsf-1-dev (>= 1.14.0-1),
 libgoffice-1-dev (>= 0.2.1), libxml2-dev (>= 2.6.10-2),
 libpango1.0-dev (>= 1.8.1),
 libgtk2.0-dev (>= 2.6.0), libglade2-dev (>= 1:2.4.0-1),
 libgnomeprint2.2-dev (>= 2.8.2), libgnomeprintui2.2-dev (>= 2.8.2),
 libart-2.0-dev (>= 2.3.16-5),
 libgconf2-dev (>= 2.6.2-1), libbonobo2-dev (>= 2.6.2-4),
 libbonoboui2-dev (>= 2.6.1-1),
 libgnome2-dev (>= 2.4.0-2), libgnomeui-dev (>= 2.4.0-2),
 libgsf-gnome-1-dev (>= 1.13.2),
 pxlib-dev (>= 0.5.1-2+b1), libperl-dev,
 python-dev, python-gtk2-dev
Standards-Version: 3.7.2

Package: gnumeric
Architecture: any
Depends: ${shlibs:Depends}, gsfonts, gnumeric-common (= ${source:Version}), ${misc:Depends}
Suggests: gnumeric-doc (>= ${Upstream-Version}), gnumeric-plugins-extra
Conflicts: gnumeric1.0, gnumeric1.0-doc, gnumeric-doc (<< ${Upstream-Version})
Replaces: zh-trans (<< 0.8-1), gnumeric1.0
XS-Python-Version: current
XB-Python-Version: ${python:Versions}
Description: GNOME spreadsheet application
 Gnumeric is a powerful spreadsheet application that interoperates well
 with other spreadsheets. It comes with plugins that enable it to deal with
 commonly used spreadsheet file formats.
 .
 The following formats can be imported and exported:
  * Microsoft Excel (tm) 97/2000/XP (.xls)
  * Microsoft Excel (tm) 95 (.xls)
  * OASIS XML, OpenOffice.org XML, StarOffice (.sxc)
  * Comma/Character Separated Values (.csv)
  * Data Interchange Format (.dif)
  * Applix version 4 (.as)
 .
 Additionally, the following formats can be imported:
  * GNU Oleo (.oleo)
  * Linear and integer program expression format (.mps)
  * Lotus 123 (.wks, .wk1)
  * MultiPlan (.sylk)
  * Plan Perfect (.pln)
  * Quatro Pro (tm)
  * SC/XSpread
  * XBase (.dbf), 
 .
 Gnumeric can export to LaTeX 2e (.tex), TROFF (.me) and HTML as well.
 .
 Gnumeric should be easy to use, in particular if you are familiar with
 Excel.
 .
 Gnumeric is a GNOME application. GNOME (GNU Network Object Model Environment) 
 is a user-friendly set of applications and desktop tools to be used in 
 conjunction with a window manager for the X Window System.

Package: gnumeric-common
Architecture: all
Replaces: gnumeric (<= 1.2.6-1)
Description: common files for Gnumeric, the GNOME spreadsheet application
 This package contains architecture-independent data files needed by the
 "gnumeric" package.

Package: gnumeric-doc
Architecture: all
Section: doc
Recommends: yelp (>= 2.6.0), gnome-desktop-data
Suggests: gnumeric (>= ${Upstream-Version}), docbook-xsl
Conflicts: gnumeric1.0-doc
Replaces: gnumeric (<< 1.1.17-2), gnumeric1.0-doc, docbook-xsl
Description: documentation for Gnumeric, the GNOME spreadsheet application
 The `Gnumeric's User Manual' in Gnome Help (DocBook XML) format.

Package: gnumeric-plugins-extra
Architecture: any
Depends: gnumeric (= ${binary:Version}), python-gtk2, ${python:Depends}, ${shlibs:Depends}
Conflicts: gnumeric1.0-python, gnumeric1.0-gda, gnumeric-python, gnumeric-gda
Replaces: gnumeric1.0-gda, gnumeric1.0-python, gnumeric-python, gnumeric-gda, gnumeric (<= 1.3.92-1)
XS-Python-Version: current
XB-Python-Version: ${python:Versions}
Description: additional plugins for the GNOME spreadsheet
 Gnumeric ships with a number of plugins; this package contains those
 plugins that require additional packages above what the 'gnumeric' package
 needs.
 .
 This includes
  * The Perl plugin
  * The Python plugin
  * The Python plugin loader
  * Additional Python functions
  * The Gnome glossary
