Makefile.in
Makefile
.deps
gnumeric-dialogs.schemas
gnumeric-general.schemas
gnumeric-plugins.schemas
*.reg
org.gnome.gnumeric*.gschema.xml.in
org.gnome.gnumeric*.gschema.xml
org.gnome.gnumeric*.gschema.valid
