*.o
*.a
*.lo
*.la
.*.sw*
Makefile.in
Makefile
.deps
.libs
gnumeric
gnumeric-component
parser.c
gnm-marshalers.c
gnm-marshalers.h
gnumeric-paths.h
ssconvert
ssindex
ssgrep
test-pango
GNOME_Gnumeric-gtk.xml
HILDON_Gnumeric-gtk.xml
