*~
*.o
*.a
*.lo
*.la
.*.sw*
Makefile.in
Makefile
.deps
.libs
gnumeric
gnumeric-component
parser.c
gnm-marshalers.c
gnm-marshalers.h
gnumeric-paths.h
ssconvert
ssconvert.exe
ssindex
ssindex.exe
ssgrep
ssgrep.exe
sstest
sstest.exe
test-pango
test-pango.exe
GNOME_Gnumeric-gtk.xml
HILDON_Gnumeric-gtk.xml
libspreadsheet.def
local.def
stamp-local.def
