*~
*.o
*.a
*.lo
*.la
.*.sw*
.dirstamp
Makefile.in
Makefile
.deps
.libs
gnumeric
gnumeric.exe
parser.c
gnm-marshalers.c
gnm-marshalers.h
gnmresources.c
gnmresources.h
gnumeric-paths.h
ssconvert
ssconvert.exe
ssindex
ssindex.exe
ssgrep
ssgrep.exe
sstest
sstest.exe
ssdiff
ssdiff.exe
libspreadsheet.def
local.def
stamp-local.def
Gnm-1.12.gir
Gnm-1.12.typelib
