/* ------------------------------------------------------------------------- */
/* The ItemGrid is the canvas area that holds all the cells.  */
ItemGrid {
  background: white;
}

/* Function markers are enabled from View->View Properties->Cell Markers */
ItemGrid function-marker {
  color: green;
  border-color: #555555;
}

/* This is the divider between panes when an area is frozen.  */
ItemGrid pane-divider {
  color: #333333;

  /* This isn't working well yet: */
  border-style: solid;
  border-width: 1px;
}

/* ------------------------------------------------------------------------- */
/* ItemBar canvas items are the header buttons "A".."IV" and "1".."65536" */
/* These are also styled with class button */

ItemBar {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* The whole column/row selected. */
ItemBar:active {
  font: bold;
}

/* Some, but not all, of a column/row selected. */
ItemBar:hover {
  font: bold;
}

/* ------------------------------------------------------------------------- */
/* GnmNotebook is a fake notebook holding just the sheet tabs area */

GnmNotebook tab {
  /* background: #ff0000; */ /* Debug */
}

GnmNotebook {
  padding: 0;
}

/* ------------------------------------------------------------------------- */
