/* ------------------------------------------------------------------------- */
/* The GnmItemGrid is the canvas area that holds all the cells.  */
/* GnmPreviewGrid is the canvas used for auto-format previews. */
GnmItemGrid, GnmPreviewGrid {
  /* The background must be solid and rectangular since we cheat and print
     only parts of it.  */
  background-image: none;
  background-color: white;
  padding: 0;
  border-style: none;
  border-width: 0;
}

/* Function markers are enabled from View->View Properties->Cell Markers */
GnmItemGrid function-marker {
  color: green;
  border-color: #555555;
  /* See also GnmPane */
}

/* This is the divider between panes when an area is frozen.  */
GnmItemGrid pane-divider {
  color: #333333;

  /* This isn't working well yet: */
  border-style: solid;
  border-width: 1px;
}

/* ------------------------------------------------------------------------- */
/* The GnmItemCursor item is what marks a cell or selection on the sheet.  */

/* The default cursor.  */
GnmItemCursor.normal {
  color: #000000;
}

/* The anted cursor.  We clearly should be using an animation, but neither
   we nor gtk are ready for that.  */
GnmItemCursor.ant {
  color: #333333;
  background-color: #c7c7c7;
}

/* The dragging/autofill cursor.  These colors are combined in a stipple.  */
GnmItemCursor.drag,
GnmItemCursor.autofill {
  color: white;
  background-color: black;
}

/* ------------------------------------------------------------------------- */

/* GnmPane is the canvas we use for sheets.  We store custom properties
   here because there is no un-deprecated way to store them for the
   canvas items which aren't widgets.  */
GnmPane {
  -GnmPane-function-indicator-size: 10px;
  -GnmPane-cell-comment-indicator-size: 6px;
}

CommentView {
  color: red;
  /* See also GnmPane */
}

/* ------------------------------------------------------------------------- */
/* GnmItemEdit canvas items are the in-sheet editing area. */

GnmItemEdit {
  background-color: #ffffe0;

  /* This doens't seem to kick in.  We seem to get the color from the
     style.  */
  color: black;
}

/* ------------------------------------------------------------------------- */
/* GnmItemBar canvas items are the header buttons "A".."IV" and "1".."65536" */
/* These are also styled with class button */

GnmItemBar {
  padding-left: 5/*px*/;     /* From gtk3.4 always use "px" */
  padding-right: 5/*px*/;
  padding-top: 2/*px*/;
  padding-bottom: 2/*px*/;
}

/* The whole column/row selected. */
GnmItemBar:active {
  font: bold;
}

/* Some, but not all, of a column/row selected. */
GnmItemBar:hover {
  font: bold;
}

/* ------------------------------------------------------------------------- */
/* This GtkDrawingArea is the select-all button above the row buttons.  */

GtkDrawingArea.button.all {
}

/* ------------------------------------------------------------------------- */

/* GnmNotebook is a fake notebook holding just the sheet tabs area */

GnmNotebook tab {
  /* background-color: #ff0000; */ /* Debug */
}

GnmNotebook {
  padding: 0;
}

/* ------------------------------------------------------------------------- */
