<?xml version="1.0"?>
<gnumeric_plugin_group>
<plugin id="Gnumeric_gdaif">
	<information name="Database" description="Database functions for allowing the retrieval of data from a database"/>
	<loader type="g_module">
		<attribute name="module_file" value="gdaif.so"/>
	</loader>
	<services>
		<service type="general"></service>
	</services>
</plugin>
</gnumeric_plugin_group>
