<?xml version="1.0"?>
<plugin id="Gnumeric_oleo">
	<information name="GNU Oleo" description="Imports GNU Oleo documents"/>
	<loader type="g_module">
		<attribute name="module_file" value="oleo.so"/>
	</loader>
	<services>
		<service type="file_opener" id="oleo" priority="100" probe="FALSE">
			<information description="GNU Oleo (*.oleo)"/>
			<file_patterns>
				<file_pattern type="shell_pattern" value="*.oleo"/>
			</file_patterns>
			<save_info saver_id="" format_level="manual_remember"/>
		</service>
	</services>
</plugin>
