<?xml version="1.0"?>
<plugin id="Gnumeric_applix">
	<information name="Applix" description="Imports version 4.[234] spreadsheets"/>
	<loader type="g_module">
		<attribute name="module_file" value="applix.so"/>
	</loader>
	<services>
		<service type="file_opener" id="applix" priority="100" probe="TRUE">
			<information description="Applix (*.as)"/>
			<file_patterns>
				<file_pattern type="shell_pattern" value="*.as"/>
			</file_patterns>
			<save_info saver_id="" format_level="manual_remember"/>
		</service>
	</services>
</plugin>
